.container {
  width: 100%;
  /* min-height: 220px; */
  margin: 4px; 
  padding: 10px 14px 14px 14px;
  border-radius: 5px;
  /* border: 1px solid #283618; */
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
}

/* .container header {
  margin-bottom: 14px;
} */

/* .container span {
  display: flex;
  align-items: center;
  margin: 7px 0px 12px 0px;
  justify-content: space-between;
} */