/* 
.container {
  max-width: 500px;
}
.container input, textarea, select { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
} */


/* .container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
} */

/* .container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 21px 0px;
  background: var(--primary);
  background-color: rgb(28, 173, 125);
} */



/* input:focus, select:focus, textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
} */