.navwrapouter {
  /* NOTE: moved position & size props up to app.css to handle all other elements disappearing under nav bar: */
  margin: 0px;
  background-color: #DDA15E;
  font-size: 2em;
}

.navwrapinner{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 540px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.linkbox {
  text-decoration: none;
  margin: 0px;
  padding: 2px;
  border: 2px solid  #525252;
  border-radius: 5px;
  /* darkorange */
  background: #BC6C25;
}
.linkbox:hover {
  /* lightblue */
  background: #55cdd4;
}
.linkbox:active {
  margin: 0px;
  text-decoration: none;
  background: #007d96;
  border: 2px solid #ffffff;
}

.link {
  text-decoration: none;
}
.link:active {
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  .navwrapouter {
    font-size: 1.4em;
  }
  .navwrapinner{
    max-width: 360px;
  }
}