.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.container input, select { 
  width: 200px;
  padding: 14px;
  resize: vertical;
  border-radius: 5px;
  border: 1px solid black;
}

/* input:focus, select:focus {
  border: 2px solid black;
}  */

