*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
  /* width: 50%; */
}

body {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 0;
  /* min-height: 100vh; */
  

  background-color: #FEFAE0;
  /* background-color: #DDA15E; */
  font-family: Verdana, system-ui, Arial, sans-serif;
  /* maybe Gill Sans for tight-formatted lists:
  font-family: Gill Sans; */
  color: #525252;
  /* color: #BC6C25; */
  font-size: 16px;
}

.position-handle-nav{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
}
.position-handle-remainder{
  /* make sure to check this value against height in NavBar.css */
  margin-top: 90px;
  margin-bottom: 30px;
  max-width: 600px;
}


h1, h2, h3, h4 {
  margin: 0px;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}

p {
  margin: 0px;
}

a {
  /* color: #BC6C25; */
  color: #606C38;
  /* text-decoration: underline; */
  /* font-weight: 500; */
  font-weight: 700;
}

button {
  display: inline-block;

  margin: 2px;
  padding: 6px;

  border: 2px solid #283618;
  border-radius: 5px;
  padding: 5px;

  /* background: #606C38; */
  background: #BC6C25;

  color: #FEFAE0;
  font-size: 16px;
  text-decoration: none;

  cursor: pointer;
  /* margin: auto; */
}
button:hover {
  background: #86984a;
}
button:active {
  background: #283618;
  border: 2px solid #606C38;
  color: #ffffff;
}


