*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
  
  margin: 0;
  min-height: 100vh;
  max-width: 740px;
  
  background-color: #c2b280;
  font-family: Verdana, system-ui, Arial, sans-serif;
  /* maybe Gill Sans for tight-formatted lists:
  font-family: Gill Sans; */
  color: rgba(81, 81, 81, 0.87);
  font-size: 16px;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

a,
a:visited {
  color: #ff4f1f
}


button {
  display: inline-block;
  background: white;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #9f9168;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #cacaca;
}
button:active {
  background: #525252;
  color: #ffffff;
}

