*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* keep for future ice-box ref (along with body width below) */
  /* width: 50%; */
}

body {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* keep for future ice-box ref (along with html width above) */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 0;
  background-color: #FEFAE0;

  font-family: Trebuchet, system-ui, Arial, sans-serif;
  color: #525252;
  font-size: 16px;

  /* alt options for future */
  /* font-family:verdana, geneva, tahoma, kalimati, sans-serif; */
  /* font-family: Garamond, "apple garamond", Baskerville, Times, serif;   */
  /* color: #BC6C25; */
}

.position-handle-nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.position-handle-remainder {
  /* make sure to check this value against height in NavBar.css - they work together */
  margin-top: 90px;

  margin-bottom: 30px;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h3, h4 {
  margin: 0px;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}
h2 {
  font-size: 1.35em;
  letter-spacing: 1px;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}

p {
  margin: 0px;
}

a {
  color: #606C38;
  text-decoration: none;
  font-weight: 700;
  /* color scheme opt */
  /* color: #BC6C25; */
}

button {
  display: inline-block;

  margin: 2px;
  padding: 6px;

  border: 2px solid #525252;
  border-radius: 5px;
  padding: 5px;

  background: #BC6C25;
  color: #FEFAE0;
  font-size: 16px;
  text-decoration: none;

  cursor: pointer;
}
button:hover {
  /* lightblue */
  background: #55cdd4;
  color: #000000;
}
button:active {
  /* darkblue */
  background: #007d96;
  border: 2px solid #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 540px) {
  body {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
  .position-handle-remainder{
    max-width: 360px;
  }
}